@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<pre>
<div     style=" background-color: pink; "    >
                              
<h1>

        哈囉你好，測試

    </h1>
    

</div>

</pre>




@section scripts{
    <script>
        $(function () {
            var a = "測試";
            var b = "測試";
            alert(a + b);
        });
    </script>
}

